<div class="container section">

    <form class="form">
        <h2 class="fom__title">Nueva Categoria</h2>
        <div class="form__group">
            <label class="form__label" for="nombre">Nombre</label>
            <input class="form__input" type="text" id="nombre">
        </div>
        <div class="form__group">
            <label class="form__label" for="descripcion">Descripción</label>
            <input class="form__input" type="text" id="descripcion">
        </div>
        <button class="btn">Crear</button>
    </form>
</div>