* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.menu__link {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #131313;
  font-size: 20px;
}
